*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
label {
  cursor: pointer;
}

input {
  font: inherit;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.box {
  width: 50px;
  height: 50px;
  background-color: red;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.car-search {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.car-group {
  margin-right: 10px;
}

.car-input,
.car-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.car-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.car-button:hover {
  background-color: #0056b3;
}

.car-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.car-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.car-image {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

.car-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

.car-type {
  font-size: 18px;
  color: #666;
  margin-bottom: 5px;
}

.car-price {
  font-size: 20px;
  color: #ff6600;
  font-weight: bold;
}

/* table */

.magic-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.magic-btn > .icon {
  display: inline-block;
  margin-left: 10px;
  font-size: 24px;
}

.site-nav__link {
  color: currentColor;
  text-decoration: none;
}

.site-nav__link:hover {
  text-decoration: underline;
}

.site-nav__link--current {
  color: tomato;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.color-picker__option {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.transaction-table {
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  padding: 8px;
  border: 1px solid #2a2a2a;
}

.title__link {
  display: inline-flex;
  margin-left: 40px;
}
